# EditorConfig es una herramienta para mantener estilos de codificación consistentes
# entre diferentes editores e IDEs
# https://editorconfig.org

root = true

# Configuración para todos los archivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Archivos Go
[*.go]
indent_style = tab
indent_size = 4

# Archivos JavaScript/TypeScript/JSX
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# Archivos JSON
[*.json]
indent_style = space
indent_size = 2

# Archivos YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Archivos Markdown
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Archivos Shell
[*.sh]
indent_style = space
indent_size = 2

# Archivos CSS
[*.css]
indent_style = space
indent_size = 2

# Archivos Makefile
[Makefile]
indent_style = tab

