# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main
*.test
*.out

# Backend
/backend/data/

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kubernetes
*.kubeconfig
my-values.yaml
secrets.yaml

# Helm
*.tgz

#SEG_FILE
ANALISIS*

